body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
    background-image: url("../images/what-the-hex/what-the-hex.png");
    background-repeat: repeat;
    font-size: 17.5px;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    color: #4aaaa5;
    padding: 0 0 15px;
    border-bottom: 2px solid #cccccc;
}

header {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 15px 30px;
}

nav {
    list-style-type: none;
    float: right;
    line-height: 1;
}

/* for the sticky footer */

html, body {
    height: 100%;
}

footer {
    text-align: center;
    font-size: 12px;
    width: 100%;
    background-color: #666666;
    color: #cccccc;
    padding: 35px 0 0 0;
    border-top: 9px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
}

label {
    padding: 0;
}

a:hover {
    color: #FF0000;
}

.white-header {
    background-color: white;
    width: 100%;
    border-bottom: 1.5px solid #cccccc;
    position: fixed;
    left: 0;
    top: 0;
}

.header-nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content {
    clear: both;
    width: 900px;
    margin: 120px auto 108px;
    background-color: white;
    border: 1px solid #dddddd;
    padding: 30px;
}

.content-body {
    padding: 20px 0 0;
}

.about-img {
    float: left;
    padding: 10px 20px 0 0;
    width: 300px;
}

.nav-list {
    float: left;
    border-right: solid 1px #dddddd;
}

.nav-list-a {
    text-align: center;
    text-decoration: none;
    color: #cccccc;
    padding: 0 20px;
}

input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 0 0 10px;
    display: inline-block;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 30px;
    font-size: inherit;
    margin: 8px 0 0;
    cursor: pointer;
    border: none;
}

#message {
    width: 100%;
    border: 1px solid #dddddd;
    height: 200px;
    box-sizing: border-box;
}
.img1 {
    background: url("../images/mountain.jpeg") no-repeat center;
}

.img2 {
    background: url("../images/people.jpeg") no-repeat center;
}

.img3 {
    background: url("../images/anothermountain.jpeg") no-repeat center;
}

.img4 {
    background: url("../images/squirrel.jpeg") no-repeat center;
}

.img5 {
    background: url("../images/irlylikemtns.jpeg") no-repeat center;
}

.img1, .img2, .img3, .img4, .img5 {
    background-size: 286px 190px; 
}

h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 5px;
    margin-top: 125px;
}

.button {
    padding: 20px 7px;
    width: 286px;
    height: 190px;
    margin: 0 auto;
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 980px) {
    .content {
        clear: both;
        width: 91%;
    }
    label {
        display: block;
    }
    .img1, .img2, .img3, .img4, .img5 {
        background-size: 95%; 
    }
    .button {
        padding: 1% 1%;
        width: 31%;
        margin: 0 auto;
        float: left;
    }
    h3 {
        margin-top: 45%;
        width:97%;
        margin-left: -.5%;
    }
    .content-body {
        padding: 2% 0 0;
    }
    .about-img{
        width: 33%;
    }
}

@media screen and (max-width: 768px) {
    h3 {
        margin-top: 49%;
        width:96%;
        margin-left: 0;
        font-size: 18px;
    }
    .button {
        padding: 0 1%;
    }
    h1, h2 {
        font-size: 25px;
    }
    h2 {
        padding: 0 0 10px;
    }
    body {
        font-size: 16px;
    }
    footer {
        padding: 20px 0 0 0;
    }
    .content {
        margin: 100px auto 80px;
        padding: 20px;
        width: 91%;
    }
    .content-body {
        padding: 2% 0 0;
    }
}

@media screen and (max-width: 640px) {
    h1, h2 {
        font-size: 20px;
    }
    a {
        font-size: 16px;
    }
    .content {
        margin: 70px auto 60px;
        width: 91%;
    }
    label {
        font-size: 15px;
    }
    input[type=submit] {
        padding: 10px 20px;
        font-size: 15px;
    }
    footer {
        padding: 15px 0 0 0;
    }
    header {
        padding: 15px 20px;
    }
    .nav-list {
        border-right: none;
        float: none;
        text-align: right;
    }
    body {
        font-size: 15px;
        line-height: 1.5;
    }
    .about-img {
        width: 50%;
        padding-bottom: 15px;
    }
    .content-body {
        padding: 2% 0 0;
    }
}
